.jumbotron {
  background-color: #2f3c7e;
}

.newsfeedTitle {
  color: white;
  text-align: center;
  font-size: 100px;
  padding-bottom: 30px;
  text-decoration: underline;
}

.profilePageWrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  background: linear-gradient(to right, white, rgb(225, 187, 130));
}

.homePageWrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    background: linear-gradient(to left, white, rgb(225, 187, 130))
}

#sidebar {
  min-width: 150px;
  max-width: 150px;
  min-height: 100vh;
  background-color: #2f3c7e;
}

textarea{
  width: 100%;
}

img{
  cursor: pointer;
}

img:hover{
  opacity: .5;
}

li{
  list-style-type: none;
  padding: 15px;
}

.sideBarUl{
  position: fixed;
  text-align: center;
  margin: 0 auto;
}

.iconSize{
  font-size: 25px;
  color: white;
}

.iconSize:hover{
  color: rgb(225, 187, 130)
}

.signOut{
  margin-top: 70px;
}

.userBackground{
  background-color: rgb(255, 255, 255, 0);
}

.modalButton{
  margin: 4px;
  color: white;
  background-color: #2f3c7e;
  border-radius: 5px;
}

.modalButton:hover{
  border: rgb(225, 187, 130)
}

.buttons {
  background-color: #2f3c7e;
  border-radius: 5px;
  margin: 4px;
  color: white;
}

.buttons:hover {
  border: rgb(225, 187, 130)
}

.newPosts {
  display: flex;
  justify-content: space-between;
}

h1.newsfeedTitle {
  animation: color-change 3s infinite;
}

@keyframes color-change {
  0% { color: rgb(225, 187, 130) }
  50% { color: white; }
  100% { color: #2f3c7e; }
}

.trash {
  text-align: left;
  background-color: white;
  border: none
}

